<head>
  <link rel="stylesheet" href="./app.component.css">
</head>

<!-- Dropdown menu -->
<div class="dropdown">
  <button>{{ getTranslation('MORE') }}</button>
  <div class="dropdown-content">
    <a routerLink="/contact">{{ getTranslation('CONTACT') }}</a>
    <a routerLink="/discussion">{{ getTranslation('DISCUSSION') }}</a>
    <a routerLink="/about">{{ getTranslation('ABOUT') }}</a>
  </div>
</div>

<!-- Language Selector -->
<div class="language-selector">
  <button class="flag-button swedish-flag" (click)="toggleLanguageBar()">
    <img [src]="getFlagImage()" [alt]="languageService.getLanguage()">
  </button>
  <div class="language-bar" *ngIf="showLanguageBar">
    <button class="flag-button" (click)="changeLanguage('sv')">
      <img src="assets/bilder/sweden.png" alt="Svenska">
    </button>
    <button class="flag-button" (click)="changeLanguage('me')">
      <img src="assets/bilder/meankieli.png" alt="Meänkieli">
    </button>
    <button class="flag-button" (click)="changeLanguage('fi')">
      <img src="assets/bilder/finland.png" alt="Finska">
    </button>
    <button class="flag-button" (click)="changeLanguage('sa')">
      <img src="assets/bilder/sami.png" alt="Nordsamiska">
    </button>
    <button class="flag-button" (click)="changeLanguage('en')">
      <img src="assets/bilder/uk.png" alt="Engelska">
    </button>
  </div>
</div>


<header>
  <h1><a routerLink="/home">{{ getTranslation('WELCOME') }}</a></h1>
  <nav>
    <ul>
      <li><a routerLink="/home">{{ getTranslation('HOME') }}</a></li>
      <li><a routerLink="/exhibits">{{ getTranslation('EXHIBITS') }}</a></li>
      <li><a routerLink="/quiz">{{ getTranslation('QUIZ') }}</a></li>
      <li><a routerLink="/contact">{{ getTranslation('CONTACT') }}</a></li>
      <li><a routerLink="/discussion">{{ getTranslation('DISCUSSION') }}</a></li>
    </ul>
  </nav>
</header>

<!-- Layout with side decorations -->
<div class="main-wrapper">
  <div class="side-deco left-deco"></div>

  <main class="article-container">
    <router-outlet></router-outlet>
  </main>

  <div class="side-deco right-deco"></div>
</div>

<footer>
  <p>&copy; 2025 {{ getTranslation('MUSEUM_NAME') }}</p>
  <p><a routerLink="/about">{{ getTranslation('ABOUT') }}</a></p>
</footer>