<div class="article-text">
  <h1 class="page-title">{{ getTranslation('DISCUSSION_TITLE') }}</h1>

  <!-- Button to open the modal -->
  <button class="elegant-button" (click)="openModal()">{{ getTranslation('CREATE_POST') }}</button>

  <!-- Modal -->
  <div class="modal" [class.show]="isModalOpen">
    <div class="modal-content">
      <span class="close-button" (click)="closeModal()">&times;</span>

      <!-- Form -->
      <div class="discussion-form">
        <h3>{{ getTranslation('CREATE_POST') }}</h3>
        <form (ngSubmit)="createPost()">
          <label for="subject">{{ getTranslation('SUBJECT') }}</label>
          <input
            type="text"
            id="subject"
            [(ngModel)]="subject"
            name="subject"
            required
            placeholder="{{ getTranslation('SUBJECT') }}"
            class="form-input"
          />

          <label for="author">{{ getTranslation('AUTHOR') }}</label>
          <input
            type="text"
            id="author"
            [(ngModel)]="author"
            name="author"
            required
            placeholder="{{ getTranslation('AUTHOR') }}"
            class="form-input"
          />

          <label for="email">{{ getTranslation('EMAIL') }}</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            placeholder="{{ getTranslation('EMAIL') }}"
            class="form-input"
          />

          <label for="content">{{ getTranslation('CONTENT') }}</label>
          <textarea
            id="content"
            [(ngModel)]="content"
            name="content"
            required
            placeholder="{{ getTranslation('CONTENT') }}"
            class="form-input"
          ></textarea>

          <button type="submit">{{ getTranslation('SUBMIT_POST') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>