<div class="reply-to-post-container">
  <div *ngIf="postToReply">
    <div class="post-container">
      <div class="go-to-post">
        <h2>{{ postToReply.subject }}</h2>
        <p>{{ postToReply.content }}</p>
        <div class="meta">
          <span class="author">{{ postToReply.author }}</span>&nbsp;
          <span class="date">{{ postToReply.date | date:'yyyy-MM-dd HH:mm' }}</span>
        </div>
      </div>

      <div class="replies-list">
        <h3>{{ getTranslation('LEAVE_COMMENT') }}</h3>
      </div>

      <div class="reply-form">
        <form (ngSubmit)="submitReply()">
          <div class="author-email-row">
            <div class="input-group">
              <input
                type="text"
                id="author"
                [(ngModel)]="author"
                name="author"
                required
                [placeholder]="getTranslation('AUTHOR')"
                class="form-input"
              />
            </div>

            <div class="input-group">
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                name="email"
                required
                [placeholder]="getTranslation('EMAIL')"
                class="form-input"
              />
            </div>
          </div>

          <div class="textarea-group">
            <textarea
              [(ngModel)]="replyContent"
              name="replyContent"
              id="replyContent"
              required
              [placeholder]="getTranslation('WRITE_REPLY')"
              class="form-input textarea-content"
            ></textarea>
          </div>

          <button type="submit">{{ getTranslation('SUBMIT_REPLY') }}</button>
        </form>
      </div>

      <div class="replies-list">
        <div *ngIf="postToReply.replies && postToReply.replies.length > 0">
          <h3>{{ getTranslation('COMMENTS_SECTION') }}</h3>
          <ul>
            <li *ngFor="let reply of postToReply.replies">
              <p>{{ reply.author }}</p>
              <p>{{ reply.content }}</p>
              <p><span class="date">{{ reply.date | date:'yyyy-MM-dd HH:mm' }}</span></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <label for="repliesPerPage">{{ getTranslation('SHOW') }}:</label>
    <select id="repliesPerPage" (change)="onRepliesPerPageChange($event)">
      <option [value]="10">10</option>
      <option [value]="25">25</option>
      <option [value]="100">100</option>
    </select>

    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      {{ getTranslation('PREVIOUS') }}
    </button>
    <span>{{ getTranslation('PAGE') }} {{ currentPage }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage * repliesPerPage >= totalReplies">
      {{ getTranslation('NEXT') }}
    </button>
  </div>

  <div *ngIf="!postToReply">
    <p>{{ getTranslation('POST_NOT_FOUND') }}</p>
  </div>
</div>