<div class="article-text">
  <h2>{{ getTranslation('WELCOME_TITLE') }}</h2>
  <p>
    {{ getTranslation('WELCOME_TEXT') }}
  </p>
  <p>
    {{ getTranslation('EXPLORE_RESOURCES') }}
  </p>
<h2>{{ getTranslation('OPENING_HOURS') }}</h2>
<ul>
  <li>{{ getTranslation('HOURS_WEEKDAYS') }}</li>
  <li>{{ getTranslation('HOURS_WEEKEND') }}</li>
  <li>{{ getTranslation('HOURS_MONDAY') }}</li>
</ul>

  <h2>{{ getTranslation('EXPLORE_RESOURCES') }}</h2>
  <ul>
    <li><a routerLink="/exhibits">{{ getTranslation('EXHIBITS') }}</a></li>
    <li><a routerLink="/quiz">{{ getTranslation('QUIZ') }}</a></li>
    <li><a routerLink="/discussion">{{ getTranslation('DISCUSSION') }}</a></li>
    <li><a routerLink="/contact">{{ getTranslation('CONTACT') }}</a></li>
  </ul>
  
  <img src="assets/bilder/museum_utsida.jpg" [alt]="getTranslation('IMAGE_ALT')" class="general-image">
</div>