<div class="article-text">
    <h1 class="page-title">{{ getTranslation('CONTACT_TITLE') }}</h1>
</div>

<div class="article-container"> 

    <section id="topic-articles">
        <div class="form-container">
        <h2> {{ getTranslation('FIND_US') }}</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5334.771784704358!2d24.140186708026523!3d65.84733156538248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45d547766d72c619%3A0x5dd989fdaecfddd6!2sMuseum%20of%20Tornio%20Valley!5e0!3m2!1sen!2sse!4v1746460646780!5m2!1sen!2sse" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <ul>
        <li><div class="contact-info-text">{{ getTranslation('ADRESS') }}: Torikatu 4, 95400 Tornio, Finland</div></li>
        <li><div class="contact-info-text">{{ getTranslation('PHONE') }}: +358 50 5971559</div></li>
        <li><div class="contact-info-text">{{ getTranslation('EMAIL') }}: tornedalen&#64;museum.com</div></li>
        </ul>
    </div>
    </section>

<!-- Membership Form Section -->
<section id="topic-articles">
    <div class="form-container">
        <h2>{{ getTranslation('CONTACT_INTRO') }}</h2>
        <!-- Angular Form: -->
        <form (ngSubmit)="submitForm()" #contactForm="ngForm" class="form">
            <div class="form-group">
                <label for="förnamn">{{ getTranslation('FIRST_NAME') }}:</label>
                <input type="text" id="förnamn" name="first_name" [(ngModel)]="form.first_name" placeholder="{{ getTranslation('FIRST_NAME') }}" required aria-required="true">
            </div>

            <div class="form-group">
                <label for="efternamn">{{ getTranslation('LAST_NAME') }}:</label>
                <input type="text" id="efternamn" name="last_name" [(ngModel)]="form.last_name" placeholder="{{ getTranslation('LAST_NAME') }}" required aria-required="true">
            </div>

            <div class="form-group">
                <label for="telefon">{{ getTranslation('PHONE') }}:</label>
                <input type="tel" id="telefon" name="phone" [(ngModel)]="form.phone" pattern="[0-9]{7,12}" placeholder="{{ getTranslation('PHONE') }}">
            </div>

            <div class="form-group">
                <label for="email">{{ getTranslation('EMAIL') }}:</label>
                <input type="email" id="email" name="email" [(ngModel)]="form.email" placeholder="{{ getTranslation('EMAIL') }}" required aria-required="true">
            </div>

            <div class="form-group">
                <label for="beskrivning">{{ getTranslation('MESSAGE') }}:</label>
                <textarea id="beskrivning" name="message" [(ngModel)]="form.message" rows="4" minlength="10" maxlength="200" placeholder="{{ getTranslation('MESSAGE') }}" required aria-required="true"></textarea>
            </div>

            <button type="submit" [disabled]="contactForm.invalid">{{ getTranslation('SUBMIT') }}</button>
        </form>
        <p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>
        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    </div>
</section>

<!-- Success/Error Messages -->
</div>