<div class="article-text">
  <h2>Utställningar</h2>
  <p>Ta del av våra aktuella utställningar.</p>
</div>

<div class="video-box" *ngFor="let video of videos; let i = index">
  <div class="video-content">
    <!-- Video + Beskrivning -->
    <div class="video-area">
      <iframe
        width="420"
        height="236"
        [src]="video.url | safeUrl"
        frameborder="0"
        allowfullscreen>
      </iframe>

      <div class="description-box">
        <p>{{ video.description }}</p>
      </div>
    </div>

    <!-- Stjärnor & Betyg under beskrivningen -->
    <div class="stars-box">
      <div class="stars">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]"
          (click)="setRating(i, star)"
          [class.filled]="star <= video.rating"
          class="star">
          ★
        </span>
      </div>
      <p>Betyg: {{ video.rating }}/5</p>
    </div>
  </div>
</div>

